<title>Energy Value </title>

<ul>
    <% vehicle.forEach(function(i){ %>
        <li>
            <h5> Vehicle Model: </h5>
            <h6> Vehicle Model = <%= i.VehicleModel %></h6>
            <h6> Vehicle Year Model = <%= i.ModelYear %></h6>
            <h6> Sensor = <%= i.sensor %></h6> 

        </li>
        <% }); %>
</ul>

<ul>
    <% jjj.forEach(function(jj){ %>
        <li>
            <h5> Travel date and time: </h5>
            <h6> Travel start time = <%= jj.travelstart %></h6>
            <h6> Travel end time = <%= jj.travelend %></h6>
            <h5> Energy Consumption, Displacement and Average Speed for travel date and time: </h5>
            <h6> Displacement value total = <%= jj.totaldisplacement %></h6>
            <h6> Energy Consumption total = <%= jj.energyConsumption %></h6> 
            <h6> Average Speed = <%= jj.averageSpeed %></h6>
            <h6> Fuel consumption = <%= jj.fuelConsumption %></h6>
            <h6> Driver Behaviour = <%= jj.behaviour %></h6>

           
        </li>
        <% }); %>
</ul>

<style>
    body {
        background-color: antiquewhite;
        font-style:normal;
    }
</style>