<title>Energy Value </title>


<ul>
    <% jjj.forEach(function(jj){ %>
        <li>
            <h5> Travel date and time: </h5>
            <h6> Travel start time = <%= jj.travelstart %></h6>
            <h6> Travel end time = <%= jj.travelend %></h6>
            <h5> Total Energy Consumption and Displacement for travel date and time: </h5>
            <h6> Displacement value total = <%= jj.totaldisplacement %></h6>
            <h6> Energy Consumption total = <%= jj.energyConsumption %></h6> 
            <h6> Average Speed = <%= jj.averageSpeed %></h6>       

        </li>
        <% }); %>
</ul>

<style>
    body {
        background-color: antiquewhite;
        font-style:normal;
    }
</style>