<%- include( './partials/warning.ejs' ); %>
<h1>Registration Page</h1>
<h2>Please register your details below</h2>
<form action="/users/Register" method ="POST">
    <div class="form-group">
        <label for = "name">Name</label>
        <input type="name" name="name" class="form-control" id="name" placeholder="Name"
         value="<%= typeof name != 'undefined' ? name: '' %>"
        />
    </div>
    <br>
    <div class="form-group">
        <label for = "email">Email</label>
        <input type = "email" name = "email" class="form-control" id="email" placeholder="Email"
         value="<%= typeof email != 'undefined' ? email: '' %>"
        />
    </div>
    <br>
    <div class="form-group">
        <label for = "password">Password</label>
        <input type = "password" name = "password" class="form-control" id="password" placeholder="Password"
         value="<%= typeof email != 'undefined' ? password: '' %>"
        />
    </div>
    <br>
    <div class="form-group">
        <label for = "Confirm password">Confirm Password</label>
        <input type = "password" name = "ConfirmPassword" class="form-control" id="ConfirmPassword" placeholder="Confirm Password"
         value="<%= typeof email != 'undefined' ? ConfirmPassword: '' %>"
        />
    </div>
    <br>
   <button type = "submit" class="submit-button">Submit</button>

</form>

<style>
    body {background-color: lightblue; text-align: center; }
</style>


